@media (min-width:667px){
    .home__follow {
        position: static;
        rotate: 0deg;
        gap: 2.5rem;
        justify-content: start;
        margin: 1rem 1rem 2rem 1rem;
    }
    .home__follow-icons {
        rotate: 0deg;
        flex-direction: row;
        gap: .5rem;
    }
    .home__follow-icons::after {
        width: 28px;
        height: 3px;
        top: 0.6rem;
        left: -2.1rem;
    }
    .home__description .button{
        align-self: self-start;
    }
    /* About _-_-_-_-_-_-_-_ */
        .about__description .button {
        align-self: center;
    }

    /* footer _-_-_-_-_-_-_-_ */
    .footer__content{
        justify-content: space-evenly;
    }
    .footer__links{
        flex-direction: row;
    }
    .footer__follows{
        display: flex;
        justify-content: center;
    }

}
@media (min-width:760px){
        .home__image {
        order: 1;
    }
}
@media (min-width:1280px){
    .home__description .title {
    line-height: 3rem;
}
}
/* Elementos ocultos por padrão */
[data-anime-item] {
    opacity: 0;
    transform: translatex( 100px);
    transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1), 
    transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: opacity, transform;
}

[data-anime-item].ShowCard {
    opacity: 1;
    transform: translateY( 0);
}

[data-animation-class] {
    opacity: 0;
    transform: scale(0.8) translateY(100px);
    filter: blur(5px);
    transition: all 1s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}

[data-animation-class].showImg {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0px);
}
[data-animation-class].showBar{
        opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0px);
    transition: all .5s cubic-bezier(0.2, 0.9, 0.4, 1.1);

}